<div class="container">
   <div class="content pergamine">
      <div class="main-heading">
         <img src="assets/resources/flourish.png" width="50px" style="transform: scaleX(-1);"/>
         <h2>Error 404</h2>
         <img src="assets/resources/flourish.png" width="50px"/>
      </div>
      <hr>
      <p>Te has adentrado en el Bosque Prohibido y te has perdido.</p>
      <p>Usa el Traslador de abajo para volver al Inicio.</p>
      <button class="portkey" routerLink="/home">
         <img src="../../../assets/resources/traslador.webp">
      </button>
   </div>
</div>
